<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
  Contact Michael Dorst about anything you like at his
  <a href="http://mikefdorst.com/contact_me">contact page</a>.
</p>
